<div class="left-sidebar">
    <h2>Danh Mục Sản Phẩm </h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        <vc:danh-muc-san-phams> </vc:danh-muc-san-phams>

    </div><!--/category_products-->
    @*<div class="brands_products">

        <!--brands_products-->
        <h2>Brands</h2>
        <div class="brands-name">
            <vc:ThuongHieu> </vc:ThuongHieu>
        </div>
    </div><!--/brands_products-->*@

</div>