@model IEnumerable<DanhMucSanPham>


@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a asp-action="index" asp-controller="DanhMucSanPham" asp-route-MaDm="@item.MaDm">@item.TenDm</a></h4>
        </div>
    </div>
}