@model IEnumerable<ThuongHieu>


@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a asp-action="Index" asp-controller="ThuongHieu" asp-route-slug="@item.MaTh">@item.TenTh</a></h4>
        </div>
    </div>
}